@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(./montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./montserrat-bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    font-family: 'Montserrat';
    box-sizing:border-box;
}

body {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:0;
    min-height:100vh;
    overflow: scroll;
    gap:20px;
    color: rgb(40,40,40);
}

#content {
    align-items:center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 50px;
    font-size:2.5em;
}

form {
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}

form>.inputs {
    display:flex;
    flex-direction:row;
    gap:5px;
}

input,
select {
    width:80%;
    text-align:center;
    height:25px;
    border:1px solid gray;
    border-radius:3px;
}

input:focus,
select:focus {
    outline:none;
}

form>button {
    width:50%;
    border:none;
    border-radius:5px;
    padding:8px 10px 8px 10px;
    color:white;
    background-color:rgb(40, 40, 40);
    margin-top:10px;
}

.label-input-pair {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100px;
    gap:10px;
}

#weather-forecast {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:15px;
    width:min(100%, 500px);
    height:fit-content;
    margin-top:20px;
    margin-bottom:50px;
}

#weather-forecast>.forecast-day,
#weather-forecast>.current-day {
    width:100%;
    /* border-radius:5px; */
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap:10px;
    padding:20px;
}

#weather-forecast>.forecast-day {
    background-color:rgb(227, 247, 253);
}

#weather-forecast>.current-day {
    background-color:rgb(253, 246, 227);
}

.databit {
    border-radius:3px;
    background-color:rgb(202, 235, 245);
    width:100%;
    height:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:8px;
}

.forecast-day>.databit {
    background-color:rgb(202, 235, 245);
}

.current-day>.databit {
    background-color:rgb(255, 241, 203);
}

.databit-header {
    font-size:0.8em;
    color:gray;
    text-align:center;
    margin-bottom:5px;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    flex:1;
}

.databit-content {
    font-size:1.1em;
    text-align:center;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex:1;
}

.forecast-day-header {
    grid-column: 1 / -1;
    text-align:center;
    font-size:1.2em;
    height:100%;
    align-items:center;
    justify-content:center;
    font-family: 'Montserrat-bold';
}

.forecast-day-subheader {
    grid-column: 1 / -1;
    text-align:center;
    font-size:1em;
    margin-bottom:10px;
    height:100%;
    align-items:flex-end;
    justify-content:center;
}